#editor  {
    min-height: 11in;
    width: 8.5in;
    margin: 1rem;
    box-shadow: 0 0 4px 0 gray;
    margin:auto;
    margin-top: 1rem;
}

.hide-form{
    display: none;
}

.error {
    color: darkred;
}

.success {
    color: darkgreen;
}


.doc-button {
    float: right;
    margin-left: 1%;
}

#recent-docs, #search-results {
    margin: 1rem;
}

.doc {
    outline: 1px solid black;
    padding: 1vh;
    width: 30rem;
    border-radius: 5px;
    text-align: left;
    margin: auto;
    margin-bottom: 0.5rem;
}

#delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    background-color: gray;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

body {
    margin: 0;
    text-align: center;
}